.Landing-hero {
  width: 100%;
  height: 30vh;
  overflow: hidden;
  position: relative;
}

.Landing-title {
  width: 100%;
  z-index: var(--layer-high);
  margin-bottom: var(--spacing-lg);
}

.Landing-list {
  padding: 0;
  margin: 0;
  display: grid;
  grid-gap: var(--spacing-md);
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
}

