.Header {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: var(--container-padding);
  color: var(--foreground);
  background: var(--background);
  box-shadow: var(--shadow-lg);
}

.Header-link {
  color: var(--highlight);
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase;
}