.Header {
  padding: var(--container-padding);
  color: var(--foreground);
  background: var(--background);
  border-bottom: var(--spacing-xs) solid var(--middleground);
}

.Header-brand {
  font-weight: 700;
  text-align: center;
}