.Header {
  padding: var(--container-padding);
  color: var(--foreground);
  background: var(--background);
  box-shadow: var(--shadow-sm);
}

.Header-brand {
  font-weight: 700;
  text-align: center;
}