.Sidebar {
  background: var(--background);
  color: var(--foreground);
}

.Sidebar-header {
  padding: var(--container-padding);
  font-weight: 700;
}

.Sidebar a {
  color: var(--accent);
}

.Sidebar-list {
  margin: 0;
  padding: 0;
}

.Sidebar-listItem {
  list-style: none;
}

.Sidebar-link {
  text-decoration: none;
  display: block;
  padding: var(--spacing-md) var(--spacing-sm);
}

.Sidebar-link.is-active {
  text-decoration: underline;
}