.Sidebar {
  background: var(--background);
  color: var(--foreground);
}

.Sidebar-header {
  padding: var(--container-padding);
  padding-left: var(--spacing-md);
  font-weight: 700;
  border-bottom: 2px solid var(--middleground);
  box-shadow: var(--shadow-sm);
}

.Sidebar-list {
  margin: 0;
  padding: 0;
}

.Sidebar-listItem {
  list-style: none;
}

.Sidebar-link {
  color: var(--accent);
  text-decoration: none;
  display: block;
  position: relative; /* allows absolute positioning within */
  margin: var(--spacing-md);
  padding: var(--spacing-md) var(--spacing-sm);
  border-radius: var(--border-radius);
  transition: background-color var(--animation-timing) var(--animation-easing),
              color var(--animation-timing) var(--animation-easing),
              box-shadow 0.33s var(--animation-easing),
              transform 0.33s var(--animation-easing);
}

.Sidebar-link:hover,
.Sidebar-link:focus,
.Sidebar-link.is-active {
  color: #fff;
  transform: scale(1.025);
  box-shadow: 0 0 var(--spacing-xl) rgba(0, 0, 0, 0.33);
}

.Sidebar-link.is-active {
  background-color: var(--accent);
}

.Sidebar-link:focus {
  outline: 0;
}