.PostHeader {
  color: var(--foreground);
  background: var(--background);
  border: 1px solid var(--middleground);
  border-bottom: var(--spacing-sm) solid var(--middleground);
  padding: var(--container-padding);
  margin-bottom: var(--spacing-md);
  box-shadow: var(--shadow-sm);
}

.PostHeader-avatar {
  border-radius: 50%;
  object-fit: cover;
  border: var(--spacing-xs) solid var(--middleground);
  height: var(--spacing-xl);
  width: var(--spacing-xl);
  margin-bottom: var(--spacing-sm);
}

.PostHeader-author {
  font-size: 1rem;
  margin-bottom: var(--spacing-sm);
}

.PostHeader-date {
  display: inline-block;
  font-size: 0.85rem;
  padding: var(--spacing-xs) var(--spacing-sm);;
  background: var(--highlight);
  color: #fff;
  font-weight: 700;
}