:root {
  --base-font-size: 16px;
  --spacing-xxs:   0.125rem;
  --spacing-xs:    0.25rem;
  --spacing-sm:    0.5rem;
  --spacing-md:    1rem;
  --spacing-lg:    2rem;
  --spacing-xl:    4rem;
  --spacing-xxl:   8rem;
  --breakpoint-sm: 575px;
  --breakpoint-md: 768px;
  --breakpoing-lg: 991px;
  --breakpoint-xl: 1199px;
  --container-padding: var(--spacing-md) var(--spacing-sm);
  --shadow-sm: 0 var(--spacing-xs) var(--spacing-sm) rgba(0, 0, 0, 0.1);
  --shadow-lg: 0 var(--spacing-sm) var(--spacing-md) rgba(0, 0, 0, 0.1);
}

/* small */
@media (min-width: 575px) {
  :root {
    --base-font-size: 18px;
  }
}

/* medium */
@media (min-width: 768px) {
  :root {
    --base-font-size: 20px;
    --container-padding: var(--spacing-lg) var(--spacing-md);
  }
}

:root,
.Theme--primary {
  --foreground:   #333745;
  --background:   #FFF;
  --middleground: #CCC;
  --accent:       #C7EFCF;
  --highlight:    #E63462;
}

.Theme--secondary {
  --foreground:   #333745;
  --background:   #EEF5DB;
  --middleground: #829C87;
  --accent:       #C7EFCF;
  --highlight:    #E53462;
}

.Theme--tertiary {
  --foreground:   #FFF;
  --background:   #333745;
  --middleground: #4F556B;
  --accent:       #E63462;
  --highlight:    #C7EFCF;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

*:focus {
  outline: none;
}

[tabindex="0"]:focus,
[href]:focus,
button:focus {
  outline: 1px dashed currentColor;
}

html,
body {
  height: 100%;
  width: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  font-size: var(--base-font-size);
  color: var(--foreground);
  background-color: var(--background);
  border-color: var(--middleground);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

h1 {
  font-size: 3.815rem;
}

h2 {
  font-size: 3.052rem;
}

h3 {
  font-size: 2.441rem;
  padding-bottom: var(--spacing-sm);
  border-bottom: 2px solid var(--middleground);
}

h4 {
  font-size: 1.953rem;
}

h5 {
  font-size: 1.563rem;
}

h6 {
  font-size: 1.25rem;
  text-transform: uppercase;
}
